.row
  .col-md-6
    h4 Ваши данные
  .col-md-6
    h4 Данные получателя

div(ng-if="home.user")
  .row
    //- column 1
    .col-md-6
      form.form-horizontal(name="profile", novalidate)
        .checkbox
          label
            input(type="checkbox", ng-model="home.realpresent")
            | Я хочу получить реальный подарок
        div.animate-if(ng-if="home.realpresent")
          .form-group(ng-class="{'has-error':profile.pName.$error.required}")
            label.control-label.col-sm-2(for="name") Имя
            .col-sm-6
              input#name.form-control(
                type="text",
                name="pName",
                placeholder="Иван",
                ng-model="home.user.real_present.f_name",
                required="home.user.real_present")
          .form-group(ng-class="{'has-error':profile.pSurname.$error.required}")
            label.control-label.col-sm-2(for="surname") Фамилия
            .col-sm-6
              input#surname.form-control(
                type="text",
                name="pSurname",
                placeholder="Иванов",
                ng-model="home.user.real_present.s_name",
                required="home.user.real_present")
          .form-group(ng-class="{'has-error':profile.pAddress.$error.required}")
            .col-sm-6.col-sm-offset-2
              textarea#address.form-control(
                rows="2",
                name="pAddress",
                placeholder="формат адреса смотри ниже",
                ng-model="home.user.real_present.address",
                required="home.user.real_present")
              p.help-block 123000, Московская область, Москва, ул. Ленина 110, кв. 5.
        .checkbox
          label
            input(type="checkbox", ng-model="home.virtualpresent")
            | Я хочу получить поздравительное сообщение
        div.animate-if(ng-if="home.virtualpresent")
          .form-group(ng-class="{'has-error':profile.pDigit.$error.required || profile.pDigit.$error.email}")
            label.control-label.col-sm-2(for="digit") e-mail
            .col-sm-6
              input#digit.form-control(
                type="email",
                name="pDigit"
                placeholder="john@gmail.com",
                ng-model="home.user.virtual_present.email",
                required="home.user.digit")
          .form-group(ng-class="{'has-error':profile.pDigitName.$error.required || profile.pDigit.$error.email}")
            label.control-label.col-sm-2(for="digitName") Имя
            .col-sm-6
              input#digitName.form-control(
                type="text",
                name="pDigitName"
                placeholder="Как к вам обратиться?",
                ng-model="home.user.virtual_present.nickname",
                required="home.user.pDigitName")

    //- column 2
    .col-md-6
      button.btn.btn-sm.btn-success(ng-click="home.getRealClient()") GetRealClient()
    .col-md-6
      button.btn.btn-sm.btn-success(ng-click="home.getVirtualClient()") GetVirtualClient()

  .row
    .col-md-6
      .col-sm-offset-2
        button.btn.btn-sm.btn-success(
          ng-click="home.userUpdate(home.user)",
          ng-disabled="!(profile.$dirty && profile.$valid)",
          ng-show="home.realpresent || home.virtualpresent") Обновить

.row
  .col-md-12
    p Информацию о вашем адресе поменять можно только с помощью администратора, будьте внимательны при заполнении.
